<style>
    html{
        height: 100%;
        width: 100%;
    }

    body{
        margin: 0px;
        height: 100%;
    }

    .app-container{
        background-color: aliceblue;
        height: 100%;
        background-image: url("/img/background.jpg");
    }

    .signup-header {
        height: 55px;
        background-color: #191919;
        color: #fff;
        opacity: 0.8;
    }
    .app-logo{
        height: 100%;
        display: inline-block;
        margin-left: 2%;
        font-size: 33px;
        color: #fff;
        padding-top: 5px;
    }
    .app-logo a {
        color: #04f385;
        /*opacity: 0.8; */
        padding-top: 24px;
        font-family: 'Fjalla One', sans-serif;
    }

    .app-logo a:hover{
        color: #09b767;
        text-decoration: none;
    }

    .sign-in-container{
        float: right;
        margin: 8px 2%;
    }

    .sign-in-btn{
        padding: 11px;
        font-size: 16px;
        font-weight: 400;
    }
    

</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/sematic-ui/semantic.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/sematic-ui/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100i" rel="stylesheet">

</head>
<body>

    <div class="app-container">

        <div class="mheader signup-header">
            <div class="app-logo">
                <a href="/" class="title"> {{ title }}</a>
            </div>
            
            <div class="sign-in-container">
                {{# if user}}
                    <div class="user-details"></div>
                {{else}}
                    <a href="/login" class="authLink sign-in">
                        <button class="ui inverted button sign-in-btn">
                            Sign In
                        </button>
                    </a>
                {{/if}}     
            </div>
            
        </div>

        <div class="content-section">
            {{{ body }}}
        </div>
        
    </div>

  
   
</body>
</html>