<style>
    .login-body {
        height: 80%;
        width: 350px;
        position: absolute;
        margin: 0 auto; 
        bottom: 0px;
        padding: 1% 3% 1% 3%;
        background-color: rgba(0,0,0,.75);
    }

    @media (min-width: 45rem) {
        .login-body{
            width : 450px;
            padding: 1% 2% 1% 2%;
        }
    }

    .login-form {
        margin-bottom: 25px;
    }

    .login-form-header {
        color: white;
        opacity: 0.8;
        font-family: 'Lato';
        font-weight: 200;
        margin-bottom: 25px;
    }

    .form-group label {
        color: white;
        opacity: 0.7;
    }

    .signInBtn {
        width: 100%;
        /* padding: 8px; */
        margin: 24px 0px 12px 0px;
    }

    .line {
        display: inline-block;
        width: 46%;
        border: 0.5px solid #888888;
    }

    .signup-link {
        text-align: center;
        padding: 25px;
        color: white;
        opacity: 0.7;
        cursor: pointer;
    }

    .signup-link a {
        text-decoration: none;
        color: white;
        opacity: 0.7;
    }

    .signup-link:hover {
        text-decoration: none;
        opacity: 0.9;
    }

    .popup-notification {
        color: white;
        position: absolute;
        top: 63px;
        right: 0px;
        height: 60px;
        width: 320px;
        padding: 1%;
        background-color: #438e64;
        border-radius: 1%;
        font-style: italic;
        -webkit-animation: fadeinout 10s linear backwards;
        animation: fadeinout 10s linear backwards;
        opacity: 0;
    }

    @-webkit-keyframes fadeinout {
        50% { opacity: 1; }
    }

    @keyframes fadeinout {
        50% { opacity: 1; }
    }


</style>

{{#if info.success.length}}
    {{#each info.success}}
        <div class="popup-notification show">{{this}}</div>
    {{/each}}
{{/if}}

<div class="login-body">
    <div class="login-form-body">
        <div class="login-form-content">

            <h2 class="login-form-header"> Sign In</h2>
            {{#if info.error}}
            <div class="ui-message-container ui-message-error">
                {{#each info.error}}
                <div class="ui-message-contents">
                    {{this}}.
                </div>
                
                {{/each}}
                <span> Please try again.</span>
            </div>
            {{/if}}

            <form method="POST" class="login-form">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="username" placeholder="Email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default signInBtn" style="background: #6c6876;">Sign In</button>
            </form>

            <div class="separation-line">
                <div class="line"></div>
                <div style="display:inline-block;color:#989898;">Or</div>
                <div class="line"></div>
            </div>

            <div class="signup-link">
                <a href="/register">Create new account</a>
            </div>
        </div>
    </div>
</div>

<script>
    $('.sign-in-container').css('display', 'none');
</script>