<style>
    .login-body {
        height: 80%;
        width: 32%;
        position: absolute;
        /* margin: 0 auto; */
        bottom: 0px;
        left: 35%;
        padding: 3%;
        background-color: rgba(0, 0, 0, .75);
    }

    .login-form {
        margin-bottom: 25px;
    }

    .login-form-header {
        color: white;
        opacity: 0.8;
        font-family: 'Lato';
        font-weight: 200;
        margin-bottom: 25px;
    }

    .form-group label {
        color: white;
        opacity: 0.7;
    }

    .signInBtn {
        width: 100%;
        /* padding: 8px; */
        margin: 24px 0px 12px 0px;
    }

    .line {
        display: inline-block;
        width: 46%;
        border: 0.5px solid #888888;
    }

    .signup-link {
        text-align: center;
        padding: 25px;
        color: white;
        opacity: 0.7;
        cursor: pointer;
    }

    .signup-link a {
        text-decoration: none;
        color: white;
        opacity: 0.7;
    }

    .signup-link:hover {
        text-decoration: none;
        opacity: 0.9;
    }

    #snackbar {
            {
                {
                 !-- visibility: hidden;
                --
            }
        }
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
    }

    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @-webkit-keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }
        to {
            bottom: 30px;
            opacity: 1;
        }
    }

    @keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }
        to {
            bottom: 30px;
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }
        to {
            bottom: 0;
            opacity: 0;
        }
    }

    @keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }
        to {
            bottom: 0;
            opacity: 0;
        }
    }

    .ui-message-container{
        color: white;
        /* height: 34px; */
        display: table;
        width: 100%;
        padding: 10px;
        background-color: #b6882d;
        border-radius: 5px;
        margin: 0 0 16px;
    }

    .ui-message-contents{
        display: inline-block;
        font-weight: bold;
    }
</style>

{{#if info.success.length}}
<div id="snackbar show">{{info}}</div>
{{/if}}

<div class="login-body">
    <div class="login-form-body">
        <div class="login-form-content">

            <h2 class="login-form-header"> Sign In</h2>
            {{#if info.error}}
            <div class="ui-message-container ui-message-error">
                {{#each info.error}}
                <div class="ui-message-contents">
                    {{this}}.
                </div>
                
                {{/each}}
                <span> Please try again.</span>
            </div>
            {{/if}}

            <form method="POST" class="login-form">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="username" placeholder="Email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default signInBtn">Sign In</button>
            </form>

            <div class="separation-line">
                <div class="line"></div>
                <div style="display:inline-block;color:#989898;">Or</div>
                <div class="line"></div>
            </div>

            <div class="signup-link">
                <a href="/register">Create new account</a>
            </div>
        </div>
    </div>
</div>

<script>
    $('.sign-in-container').css('display', 'none');
</script>